# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*storybook.log

# Git secrets
gitkey
gitkey.pub

# Chroma files
chromatic-diagnostics.json
build-storybook.log
chromatic.config.json
chromatic.log 
playwright.config.js

#Customers' projects
sb
storybook-static
preview-stats.json
yarn.lock
package-lock.json
pnpm-lock.yaml
.vscode
.idea

# List of all flags 
all-flags.json