.storybook-avatar {
    border-radius: 50%;
    font-family: "Work Sans", sans-serif;
}

.storybook-avatar-img {
    width: 100%;
    height: auto;
}

.storybook-avatar--small {
    width: 32px;
}

.storybook-avatar--medium {
    width: 64px;
}

.storybook-avatar--large {
    width: 128px;
}

.storybook-avatar:hover {
    filter: brightness(0.7);
}