.storybook-icon {
    display: block;
    font-family: "Work Sans", sans-serif;
}

.storybook-icon--small {
    width: 24px;
    height: auto;
}

.storybook-icon--medium {
    width: 36px;
    height: auto;
}

.storybook-icon--large {
    width: 100px;
    height: auto;
}