.storybook-icon {
    display: block;
    font-family: "Work Sans", sans-serif;
}

.storybook-icon--small {
    width: 24px;
    height: auto;
}

.storybook-icon--medium {
    width: 36px;
    height: auto;
}

.storybook-icon--large {
    width: 100px;
    height: auto;
}

.storybook-icon--xlarge {
    width: 200px;
    height: auto;
}

.storybook-icon:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}