.storybook-list {
    font-family: "Work Sans", sans-serif;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.storybook-list--none {
    list-style-type: none;
}

.storybook-list--decimal {
    list-style-type: decimal;
}

.storybook-list--circle {
    list-style-type: circle;
}

.storybook-list--devanagari {
    list-style-type: '\0966';
}

.storybook-list-item {
    display: flex;
    align-items: center;
    line-height: 1.5;
}

.storybook-list-icon {
    margin-right: 10px;
    color: #011e58;
    /* Match brand primary */
    font-weight: bold;
}