.storybook-radio {
    font-family: "Work Sans", sans-serif;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.35;
    margin: 0;
    padding: 0.5rem;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: baseline;
}

.storybook-radio input {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms, border-color 250ms;
}

.storybook-radio--checked input {
    background-color: #3b82f6;
    border-color: #2563eb;
}

.storybook-radio--hover input {
    border-color: rgba(31, 41, 55, 0.2);
}

.storybook-radio--pressed input {
    background-color: #2563eb;
    border-color: rgba(17, 24, 39, 0.3);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}