.typography {
    font-family: "Work Sans", sans-serif;
    line-height: 1.6;
}

.typography--title {
    font-size: 2rem;
    font-weight: 700;
}

.typography--subtitle {
    font-size: 1.5rem;
    font-weight: 500;
}

.typography--text {
    font-size: 1rem;
    font-weight: 400;
}

.typography--code {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.875rem;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}

.typography--italic {
    font-style: italic;
}

.typography--bold {
    font-weight: 700;
}

.typography--underline {
    text-decoration: underline;
}