.typography {
    line-height: 1.6;
    font-family: "Work Sans", sans-serif;
    margin-bottom: 1rem;
}

.typography--title {
    font-size: 2rem;
    font-weight: 700;
}

.typography--subtitle {
    font-size: 1.5rem;
    font-weight: 500;
}

.typography--text {
    font-size: 1rem;
    font-weight: 400;
}

.typography--code {
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    background-color: #f0f0f0;
    /* Added a background for better visibility */
    white-space: pre-wrap;
    /* Ensures long code lines wrap */
}

.typography--code>code {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.875rem;
}

.typography--italic {
    font-style: italic;
}

.typography--bold {
    font-weight: 700;
}

.typography--underline {
    text-decoration: underline;
}