.square {
    background-color: #4f46e5;
    border: 1px solid #3730a3;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.square-50 {
    width: 50px;
    height: 50px;
}

.square-100 {
    width: 100px;
    height: 100px;
}

.square-200 {
    width: 200px;
    height: 200px;
}