.storybook-button {
  background-color: #7b3f00;
  /* Dark Brown */
  color: #d4af37;
  /* Gold */
  border: 2px solid #d4af37;
  padding: 10px 20px;
  font-family: 'Garamond', serif;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.storybook-button--primary {
  color: #7b3f00;
  /* Dark Brown */
  background-color: #d4af37;
  /* Gold */
}

.storybook-button--secondary {
  color: #7b3f00;
  /* Dark Brown */
  background-color: transparent;
  border: 2px solid #b29126;
  /* Dark Gold border */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  /* Inset Shadow for Secondary */
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}