.typography {
    line-height: 1.6;
    font-family: "Work Sans", sans-serif;
}

.typography--title {
    font-size: 2rem;
    font-weight: 700;
}

.typography--subtitle {
    font-size: 1.5rem;
    font-weight: 500;
}

.typography--text {
    font-size: 1rem;
    font-weight: 400;
}

.typography--code {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.875rem;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}

.typography--italic {
    font-style: italic;
}

.typography--bold {
    font-weight: 700;
}

.typography--underline {
    text-decoration: underline;
}
.storybook-button {
  align-items: center;
  font-family: "Work Sans", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15cm;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.35;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: baseline;
  width: auto;
}


.storybook-button--primary {
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.85);
}

.storybook-button--secondary {
  background-color: #F3F4F6;
  color: rgba(55, 65, 81, 0.85);
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.storybook-button--hover {
  background-color: #E5E7EB;
  color: rgba(31, 41, 55, 0.85);
  border-color: rgba(31, 41, 55, 0.2);
}

.storybook-button--pressed {
  background-color: #D1D5DB;
  color: rgba(17, 24, 39, 0.85);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  border-color: rgba(17, 24, 39, 0.3);
}

.storybook-button--noborder {
  border: none;
  box-shadow: none;
}
.storybook-icon {
    display: block;
    font-family: "Work Sans", sans-serif;
}

.storybook-icon--small {
    width: 24px;
    height: auto;
}

.storybook-icon--medium {
    width: 36px;
    height: auto;
}

.storybook-icon--large {
    width: 100px;
    height: auto;
}
.storybook-header {
  font-family: "Work Sans", sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

.storybook-header button+button {
  margin-left: 10px;
}

.storybook-header .welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}
.storybook-page {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=stories-Pages-Page-stories.53d39084.chunk.css.map*/