.storybook-page {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #a2a1a1;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}