.always-visible-scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
}

.always-visible-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.always-visible-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d62929;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

.force-visible-scrollbar {
  overflow-y: scroll !important;
}

.force-visible-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.force-visible-scrollbar::-webkit-scrollbar-track {
  background: #eb1e1e;
  overflow-y: scroll !important;
}

.force-visible-scrollbar::-webkit-scrollbar-thumb {
  background-color: #22a55a;
  border-radius: 10px;
  border: 3px solid #4606d2;
  overflow-y: scroll !important;
}